<h2 id="numeric_heatmap">Numeric Heatmap</h2>
<br>
{{ relation_info.initial_scan_plots.numeric_heatmap }}
<br>
<h2 id="categorical_heatmap">Categorical Heatmap</h2>
<br>
{{ relation_info.initial_scan_plots.categorical_heatmap }}
<br>