    <span id="general-info-missing"><br></span>
    <h3>General info missingness</h3>
    <div style="width: 50%;" class="anchor-offset">
        {{ context.general_info | safe }}
    </div>
    {% if context.missing_data %}
    <div style="clear: both;"></div>
    <span id="plot-missing"><br></span>
    <h3>Missingness plot</h3>
    <div class="anchor-offset" style="width: 100%;">
        {{ context.plot_missing | safe }}
    </div>

    <div style="clear: both;"></div>
    <span id="per-feature"><br></span>  
    <h3>Missingness per feature</h3>
    <div style="width: 50%;" class="anchor-offset">
        {{ context.feature_info | safe }}
    </div>

    <span id="plot-missing-relation"><br></span>
    <h3>Missingness correlation plot</h3>
    <div style="display: flex; align-items: center;">
        <div style="width: 100%; max-width: 1000px; margin: 0 auto;">
            {{ context.plot_missing_correlation | safe }}
        </div>
    </div>

    <span id="missing-summary"><br></span>
    <h3>Missingness summary</h3>
    <div style="width: 100%;" class="anchor-offset">
        {{ context.missing_summary | safe }}
    </div>
    {% endif %}