


<div class="fixed-links">
  <span style="margin-right: 50px; display: inline-block;">General overview</span>
  <a href="#feature-overview">Feature overview</a> |  
  <a href="#sample-overview">Sample overview</a> |
  <a href="#general">General</a> |
  <a href="#sample-data">Sample Data</a>
</div>
<h3 id="feature-overview" class="anchor-offset">Feature overview</h3>
<table>
  <tr><td>Number of features</td><td>{{ num_features }}</td></tr>
  <tr><td>Constant features</td><td>{{ constant_cols | join(', ') if constant_cols else 'None' }}</td></tr>
  <tr><td>Duplicate features</td><td>{{ duplicate_cols }} ({{ (duplicate_cols / num_features) | percentage }})</td></tr>
  <tr><td>Empty features</td><td>{{ empty_cols | join(', ') if empty_cols else 'None' }}</td></tr>
  <tr><td>Feature types</td><td>{{ feature_types }}</td></tr>
</table>
<br>
<h3 id="sample-overview" class="anchor-offset">Sample overview</h3>
<table>
  <tr><td>Number of samples</td><td>{{ num_rows }}</td></tr>
  <tr><td>Duplicate samples</td><td>{{ duplicate_rows }} ({{ (duplicate_rows / num_rows) | percentage }})</td></tr>
  <tr><td>Empty samples</td><td>{{ empty_rows }} ({{ (empty_rows / num_rows) | percentage }})</td></tr>
</table>
<br>
<h3 id="target-overview" class="anchor-offset">Target overview</h3>
<table>
  <tr><td>Target</td><td><a href="#{{target | replace(' ', '-')}}" onclick="showTab(1)" class="feature-link">{{target}}</a></td></tr>
  <tr><td>Target type</td><td>{{ target_type }}</td></tr>
</table>
<br>
<h3 id="general" class="anchor-offset">General</h3>
<table>
  <tr><td>Table size</td><td>{{num_features + 1}} x {{num_rows}}</td></tr>
  <tr><td>Number of cells</td><td>{{total_cells }}</td></tr>
  <tr><td>Memory usage</td><td>{{ memory_usage_kb }} KB</td></tr>
  <tr><td>Total missing values</td><td>{{ missing_values }} ({{ (missing_values / total_cells) | percentage }})</td></tr>
</table>
<br>
<h3 id="sample-data" class="anchor-offset">Sample Data</h3>
<div class="tab-inner">
  <button class="tablinks-inner" onclick="openInnerTab(event, 'HeadTab')" id="defaultInnerOpen">Head</button>
  <button class="tablinks-inner" onclick="openInnerTab(event, 'MiddleTab')">Middle</button>
  <button class="tablinks-inner" onclick="openInnerTab(event, 'TailTab')">Tail</button>
</div>

<div id="HeadTab" class="tabcontent-inner">
  <div class="table-wrapper">
    {{ samples_head | safe }}
  </div>
</div>

<div id="MiddleTab" class="tabcontent-inner">
  <div class="table-wrapper">
    {{ samples_middle | safe }}
  </div>
</div>

<div id="TailTab" class="tabcontent-inner">
  <div class="table-wrapper">
    {{ samples_tail | safe }}
  </div>
</div>

<script>
function openInnerTab(evt, tabId) {
  const contents = document.querySelectorAll('.tabcontent-inner');
  contents.forEach(c => c.style.display = 'none');

  const buttons = document.querySelectorAll('.tablinks-inner');
  buttons.forEach(b => b.classList.remove('active'));

  document.getElementById(tabId).style.display = 'block';
  evt.currentTarget.classList.add('active');
}
document.getElementById("defaultInnerOpen").click();
</script>
