<span><br></span>
<h3>Recommendations before pre-processing</h3>

<span style="font-weight: bold;">Important note:</span>
<br>
While this tool provides a robust automated EDA, it does not incorporate domain-specific knowledge or an understanding of feature semantics.
<br>Prior to applying preprocessing steps, it is strongly advised to review the dataset with human expertise in mind. 
<br>The table below outlines some key areas where such insights can be applied, but it is not exhaustive.
<br>
<br>
<table class="feature-summary">
  <thead>
    <tr>
      <th>Column Name</th>
      <th>Recommendations</th>
    </tr>
  </thead>
  <tbody>
    {% for column_name, stats in context.summary.items() %}
      <tr>
        <td>{{ column_name }}</td>
        <td>{{ stats.recommendations | safe }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>